$primary = #222

$text-color = #222

$text-secondary = white

$breakpoint = 600px

$border = #444

$border-light = #bababa

$border-radius = 4px

$bg-light = #ececec

$bg-secondary = lightpink

$list-padding = .4em .8em

$task-completed-color = green

$error-color = red

$bg-hover = #fff7eb

$focus-border-color = #3777FF